In [6]:
import pandas_datareader as web
import datetime as dt
import pandas as pd
import yfinance as yf

In [13]:
mbk = yf.Ticker('PTT.bk')

In [14]:
interval = '1d'
start = '2022-1-1'
end = '2022-11-23'

In [15]:
mbk_price_df = mbk.history(interval='1d',start=start,end=end)
mbk_price_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-01-04 00:00:00+07:00,34.492996,34.718440,34.267551,34.267551,59500200,0.0,0.0
2022-01-05 00:00:00+07:00,34.492997,35.169331,34.267553,35.169331,76590500,0.0,0.0
2022-01-06 00:00:00+07:00,35.169329,35.169329,34.267551,34.267551,71677600,0.0,0.0
2022-01-07 00:00:00+07:00,34.718438,34.943882,34.492993,34.943882,59556500,0.0,0.0
2022-01-10 00:00:00+07:00,34.943878,34.943878,34.267545,34.718433,34789500,0.0,0.0
...,...,...,...,...,...,...,...
2022-11-16 00:00:00+07:00,31.960608,32.199120,31.722096,31.960608,56698100,0.0,0.0
2022-11-17 00:00:00+07:00,31.722099,31.960611,31.483587,31.483587,71697700,0.0,0.0
2022-11-18 00:00:00+07:00,31.483584,31.960608,31.245072,31.960608,71033500,0.0,0.0
2022-11-21 00:00:00+07:00,31.722097,31.960609,31.483585,31.722097,39724000,0.0,0.0
2022-11-22 00:00:00+07:00,31.722097,31.960609,31.483585,31.722097,44381500,0.0,0.0

In [8]:
mbk

yfinance.Ticker object <MBK.BK>

In [5]:
stock_name = "SCB.BK" # ใส่ชื่อของหุ้นที่เราจะดึงข้อมูล ในที่นี้คือ SCB
start_date = dt.date(2016,9,1) # กำหนดวันแรกที่จะดึงข้อมูล
end_date = dt.date(2019,8,30) # กำหนดวันสุดท้ายที่จะดึงข้อมูล
#ดึงข้อมูลมาเก็บไว้ในตัวแปร df
df = web.get_data_yahoo(stock_name, start_date, end_date) 
#df.to_csv("PTT.csv") # save ข้อมูลหุ้นเก็บไว้เป็นไฟล์ .csv

TypeError: string indices must be integers, not 'str'